In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('../model/coordinates_with_distances.csv')
df

               lat       long  radiance         city  city_code  dist_to_city
0        -8.533333 -39.383333  0.116815       CURAÇÁ    2909901      0.694998
1        -8.533333 -39.379167  0.103567       CURAÇÁ    2909901      0.698149
2        -8.537500 -39.395833  0.880825       CURAÇÁ    2909901      0.682846
3        -8.537500 -39.391667  0.184479       CURAÇÁ    2909901      0.685978
4        -8.537500 -39.387500  0.136107       CURAÇÁ    2909901      0.689120
...            ...        ...       ...          ...        ...           ...
2706401 -17.995833 -39.637500  0.024543  NOVA VIÇOSA    2923001      0.284567
2706402 -17.995833 -39.633333  0.013221  NOVA VIÇOSA    2923001      0.280684
2706403 -17.995833 -39.491667  0.020918  NOVA VIÇOSA    2923001      0.157517
2706404 -18.000000 -39.641667  0.041632  NOVA VIÇOSA    2923001      0.289964
2706405 -18.000000 -39.637500  0.035396  NOVA VIÇOSA    2923001      0.286093

[2706406 rows x 6 columns]

In [8]:
# remove < 0
df = df[df['radiance'] > 0]
df

               lat       long  radiance         city  city_code  dist_to_city
0        -8.533333 -39.383333  0.116815       CURAÇÁ    2909901      0.694998
1        -8.533333 -39.379167  0.103567       CURAÇÁ    2909901      0.698149
2        -8.537500 -39.395833  0.880825       CURAÇÁ    2909901      0.682846
3        -8.537500 -39.391667  0.184479       CURAÇÁ    2909901      0.685978
4        -8.537500 -39.387500  0.136107       CURAÇÁ    2909901      0.689120
...            ...        ...       ...          ...        ...           ...
2706401 -17.995833 -39.637500  0.024543  NOVA VIÇOSA    2923001      0.284567
2706402 -17.995833 -39.633333  0.013221  NOVA VIÇOSA    2923001      0.280684
2706403 -17.995833 -39.491667  0.020918  NOVA VIÇOSA    2923001      0.157517
2706404 -18.000000 -39.641667  0.041632  NOVA VIÇOSA    2923001      0.289964
2706405 -18.000000 -39.637500  0.035396  NOVA VIÇOSA    2923001      0.286093

[1885054 rows x 6 columns]

In [9]:
df['rank'] = df.groupby('city_code')['dist_to_city'].rank()
nearest = df[df['rank'] <= 100]
nearest

/var/folders/fx/kx7__pwn2tv9449n14s5rx1w0000gn/T/ipykernel_75922/705947057.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rank'] = df.groupby('city_code')['dist_to_city'].rank()

,lat,long,radiance,city,city_code,dist_to_city,rank
5560,-8.925000,-39.875000,0.048051,CURAÇÁ,2909901,0.072073,496.0
5662,-8.929167,-39.870833,0.081370,CURAÇÁ,2909901,0.070507,473.0
5763,-8.933333,-39.870833,0.191179,CURAÇÁ,2909901,0.067006,428.0
5764,-8.933333,-39.866667,0.303530,CURAÇÁ,2909901,0.069408,455.0
5765,-8.933333,-39.862500,0.188068,CURAÇÁ,2909901,0.071972,495.0
...,...,...,...,...,...,...,...
2704594,-17.933333,-39.433333,0.082670,NOVA VIÇOSA,2923001,0.073183,425.0
2704595,-17.933333,-39.429167,0.070013,NOVA VIÇOSA,2923001,0.069728,404.0
2704745,-17.937500,-39.441667,0.068857,NOVA VIÇOSA,2923001,0.082446,489.0
2704746,-17.937500,-39.437500,0.056994,NOVA VIÇOSA,2923001,0.078957,468.0
2704747,-17.937500,-39.433333,0.054886,NOVA VIÇOSA,2923001,0.075537,445.0

In [10]:
nearest.to_csv('../model/nearest_nightlights_per_city.csv', index=False)